body {
	margin: 2em;
	font-family: 'Lucida Sans', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 11pt;
}
h1 {
	font-size: 120%;
	text-align: center;
}
h2 { font-size: 110% ; }
.client {
    width: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    position: relative;
}
.circle {
	position: absolute;
	border: 6px solid grey;
	border-top: 6px solid transparent;
	border-radius: 32px;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	animation: rotate 1s infinite linear;
}
.wizard {
	padding: 0.5em 2em 1em 2em;
	background-color: rgb(245, 245, 245);
	overflow: hidden;
}
.frame {
	width: 100%;
	position: relative;
	min-height: 400px;
	overflow: hidden;
}
.tab {
	width: 100%;
	position: absolute;
	top: 0;
	left: -100%;
	min-height: 400px;
	transition: left 1s ease-out;
}
.tabc {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    min-height: 400px;
    transition: left 1s ease-out;
}
.progress {
	text-align: center;
	margin-top: 2em;
}
.buttons {
	padding-top: 2em;
	text-align: right;
}
input[type=button] {
	width: 6em;
	border: 0;
	line-height: 2.5;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgb(128,128,128);
}
input[type=button]:hover {
	background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.elements { width: 100%; }
td.tick { width: 5%; }
td.label { width: 40%; }
td.result { width: 55%;}
td.tick, td.label, td.result { vertical-align: top; }
span.tick-good { color: green; }
span.tick-bad { color: red; }
span.tick-good, span.tick-bad {
	font-size: 120%;
	font-weight: bold;
}
button.accordion {
	margin: 0;
	padding: 0;
	background-color: rgb(245, 245, 245);
	color: rgb(0, 0, 0);
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}
button.accordion:after {
	content: '\002B';
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
button.accordion.active:after { content: "\2212"; }
.panel {
	margin: 0;
	padding: 0 0 0 1em;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
p.item { padding: 0 0 0 1em; }
p.subitem { padding: 0 0 0 3em; }
p.item, p.subitem {
	margin: 0;
	font-size: 10pt;
}
span.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}
span.step.active { opacity: 1; }
finish { background-color: #4CAF50;}
@keyframes rotate {
	0%      { transform:rotate(0deg); }
	100%	{ transform:rotate(360deg);  }
}
